<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086289607410-0fqovvuebqpibsollumdfrccm2tkg5vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086289607410-0fqovvuebqpibsollumdfrccm2tkg5vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086289607410-gc40aotb8hakujt1ean5h0is64hhk22t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByuotUVoHGIJDfuU5-YkfBRu8tOJF19mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1086289607410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parrotteam.groundbreak</string>
	<key>PROJECT_ID</key>
	<string>ground-break</string>
	<key>STORAGE_BUCKET</key>
	<string>ground-break.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086289607410:ios:c7a263dab7f8d56946ae6b</string>
</dict>
</plist>